.review-block {
    background-color: antiquewhite;
    border: 1px solid gray;
    margin: 10px;
    padding: 15px;
}

.nav-paginate {
    position: fixed; /* Закрепляем элемент */
    bottom: 0; /* Располагаем элемент внизу экрана */
    left: 0; /* Для ширины на 100% экрана, начинаем от левого края */
    width: 100%; /* Растягиваем на всю ширину экрана */
    background-color: #fff; /* Фоновый цвет, чтобы содержимое под ним не просвечивало */
    z-index: 1000; /* Устанавливаем z-index, чтобы nav был поверх других элементов */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3); /* Добавляем тень для визуального отделения от содержимого страницы */
}

.nav-paginate ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center; /* Центрируем элементы списка, если нужно */
}

.nav-paginate ul li {
    margin-right: 10px; /* Отступы между элементами списка */
}

.nav-paginate ul li a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: #000; /* Цвет текста */
    /* Дополнительные стили для ссылок, если нужно */
}
.nav-paginate ul li.active a {
    background-color: orange; /* Оранжевый фон для активной ссылки */
    color: white; /* Белый цвет текста для лучшего контраста */
    border-radius: 5px; /* Немного скругляем углы для лучшего вида */
}